@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #afafaf;
}

.principal-title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
}

.principal-img {
  display: flex;
  position: absolute;
  right: 0;
  width: 600px;
}
